@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}



<div class="border" style="border-style: groove; margin-left: auto; margin-right:auto; text-align:center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>
<br/>
<div class="border" tyle="border-style: groove;">
    <table style="margin-left: auto; margin-right:auto; text-align:center">
        <tr>
            <td>
                <h4>
                    Error: @Model.ErrorMsg
                </h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>
                    Time: @Model.Time
                </h4>
            </td>
        </tr>
    </table>
</div>


