@model List<EmployeesVM>
@{
    ViewData["Title"] = "Home Page";
    bool isAnyRecords = Model.Any();
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fourth bus stop</h1>
</div>


    @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Id).Titled("ID");
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.SurName).Titled("Surname");
            columns.Add(model => model.Age).Titled("Age");
            columns.Add(model => model.Email).Titled("Email");
            columns.Add(model => model.Role).Titled("Role");
            columns.Add(model => model.ManagerId).Titled("Manager Id");
          //  columns.Add(model => model.TeamDescription).Titled("Team");
            columns.Add(model => model.When).Titled("When Arrivel");
        })
        .UsingFilterMode(GridFilterMode.Header)
        .AppendCss("table-hover")
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 20;
        })
        )


